body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
    background-color: #91d453;
    padding: 1rem;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #f3128e;
}

/* Section Styles */
.section {
    padding: 60px 20px;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Accueil Section */
.accueil .profile-photo {
    max-width: 150px;
    border-radius: 50%;
    margin: 20px 0;
}

.intro-text {
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 600px;
}

/* A propos Section */
.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.skills-list li {
    margin: 0 10px;
    font-weight: bold;
}

/* Travaux Section */
.travaux .projet {
    margin: 20px 0;
}

.projet-image, .projet-video {
    max-width: 100%;
    height: auto;
}

.projet-link {
    display: inline-block;
    margin-top: 10px;
    color: darkmagenta;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.projet-link:hover {
    color: #f31299;
}

/* CV Section */
.cv-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.cv-table th, .cv-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.cv-table th {
    background-color: #f31292;
    color: white;
}

/* Contact Section */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    margin-top: 10px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d705aa;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #da117f;
}

/* Footer Styles */
.footer {
    background-color: #91d453;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #d50976;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.social-media a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #f3127f;
}